/ManagerMoney.00.00.01/ManagerMoney/nbproject/private/
/ManagerMoney.00.00.01/ManagerMoney/build/
/ManagerMoney.00.00.01/WebChiTieu/build/
/ManagerMoney.00.00.01/WebChiTieu/dist/
/ManagerMoney.00.00.01/WebApplication1/nbproject/private/
/ManagerMoney.00.00.01/WebChiTieu02/nbproject/private/
/ManagerMoney.00.00.01/WebChiTieu02/build/
/ManagerMoney.00.00.01/WebChiTieu02/dist/